.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    .aboutFlex{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 4vmax;
        h2{
            display: block;
            &:after{
                background: #cc3f3f;
                width: 60%;
                left: -2%;
            }
        }
            .typed{
                margin: 0;
                font-size: 2vmax;
                text-transform: uppercase;
                letter-spacing: 5px;
                display: inline-block;
            }
            span{
                font-size: 2vmax;
            }
            .aboutImage{
                align-self:center;
                    img{
                        box-shadow: 2vmax 2vmax #fbb55b;
                    }
            }
    }
}


.skills{
    min-height: 100vh;
    background: #cc3f3f;
    color: white;
    overflow-x: hidden;
        .skillsIcons{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
                li{
                    width: 25%;
                    text-align:center;
                    margin: 6vmax 0;
                        i{
                            font-size: 10vmax;
                            transition: 0.5s;
                        }
                        p{
                            visibility: hidden;
                        }
                }
        }
}

// Media Queries

@media(max-width:800px){
    .about{
        padding: 5vmax 0 10vmax 0;
        .aboutFlex{
            display: flex;
            flex-direction: column;
                h2{
                    &:after{
                        width: 30vmax;
                    }
                }
        }
    }

    .skills{
        .skillsIcons{
            margin-top: 8vmax;
        }
    }
}

@media(max-width: 600px){
    .skills{
        .skillsIcons{
            li{
                width: 30%;
            }
        }
    }
}