.contact{
    min-height: 100vh;
    background: #fbb55b;
    h2{
        &:after{
            background:#6dbfb3;
            opacity: 1;
        }
    }
    .contactFlex{
        display: flex;
        justify-content: space-between;
        padding: 4vmax 0;
    }
        .contactText{
            width: 45%;
            margin-right: 4vmax;
                p{
                    margin: 0;
                    font-size: 2vmax;
                }
                ul{
                    display: flex;
                    a{
                        color: white;
                        margin-right: 25px;
                        i{
                            font-size: 50px;
                            transition: all 0.5s;
                        }
                    }
                }
        }
        form{
            width: 50%;
            background: white;
            padding: 30px;
            border-radius: 10px;
                div{
                    margin: 2vmax 0;
                    display: flex;
                    flex-direction: column;
                }
                label{
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #6dbfb3;
                    font-weight: bold;
                }
                input,
                textarea{
                    border: none;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #6dbfb3;
                }
                textarea{
                    height: 10vmax;
                    resize: none;
                }
                button{
                    background: #cc3f3f;
                    text-transform: uppercase;
                    color: white;
                    letter-spacing: 5px;
                    width: 100%;
                }
        }
}

// Media Queries

@media(max-width:810px){
    .contact{
        .contactFlex{
            flex-direction: column;
                .contactText{
                    width: 100%;
                    margin-bottom: 2vmax;
                    p{
                        font-size: 2.5vmax;
                        margin-bottom: 2vmax;
                    }
                }
                form{
                    width: 100%;
                    font-size: 2.5vmax;
                        textarea{
                            height: 20vmax;
                        }
                }
        }
    }
}