header{
    nav{
        a:hover,
        a:focus,
        a:active{
            color: #cc3f3f;
        }
    }
}

.resume:hover{
    background: #6dbfb3;
}

.projects{
    .project{
        .projectContent{
            a:hover,
            a:focus{
                cursor: pointer;
                background: #fbb55b;
            }
        }
    }
}

canvas:hover{
    cursor:url('../assets/bubble-blower-cursor.png'), auto;
}

.contact{
    button:hover,
    button:focus{
        background: #6dbfb3;
    }
    i:hover,
    i:focus{
        transform: scale(1.1);
    }
}

.skillsIcons li:hover > p,
.skillsIcons li:focus > p,
.skillsIcons li:active > p{
    visibility: visible;
}

.skillsIcons li:hover > i,
.skillsIcons li:active > i,
.skillsIcons li:focus > i{
    color: #fbb55b;
}