footer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6dbfb3;
    color: white;
    font-size: 2vmax;
        span{
            font-weight: bold;
        }
}
